*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.img-container{
    margin: 50px auto;
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.rotated{
    height: 100%;
    background: center / cover url(images/image.png);

    transition: all .3s;
}

img{
    height: 100%;
    background-image: rgba(0, 0, 0, 0.492);
}

.img-container:hover > .rotated{
  transform: rotate(20deg) scale(1.5);
  background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), center / cover url(images/image.png);
}
.img-container:hover > .text-container{
    opacity: 1;
    visibility: visible;
  }

.text-container{
    text-align: center;
    color: white;
    width: 100%;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;

    transition: all .8s .25s;
}
.text-container>h1{
    margin-bottom: 15px;
}